{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>About the developer</h1>
    <img src="{% static 'img/image.jpg' %}" style="width: 20%;">
    <p>Angel Garcia is a beginner developer currently studying full-stack development at SDGKU in the hybrid program. He is a veteran of the US Army, and currently works at SpaceX in South Texas as a TIG Welder. Hobbies include welding, art, off-roading and target practice.</p>
{% endblock content %}